

#chinese-circle{
	width: 120px;margin-left: 300px; margin-top: 80px;
}
#european-circle{
	width: 120px;margin-left: 100px; margin-top: 80px;
}
#eastern-circle{
	width: 120px;margin-left: 410px; margin-top: 95px;
}

#img-huge{
    margin-left: 8px;
}
.tf { font-size:25px;}

a button:link{text-decoration:none ; color:white ;}
a button:visited {text-decoration:none ; color:white;}
a button:hover {text-decoration:underline ; color:white;}
a button:active {text-decoration:none ; color:white;} 